# Object files
*.o

# Eclipse stuff
.project
.cproject

# Binary directories
bin/
Debug/
Release/

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
